* {
  box-sizing: border-box;
}
.fun-img-border {
  border-style: dotted dashed solid double;
  border-color:magenta;
  border-width:5px;
  width:50%;
}
.img-border {
  border:3px solid turquoise;
  padding:2px;
  width:50%;
}
h1 {
  color:magenta;
}
p {
  color:turquoise;
}
.purple-text {
  color:purple;
}
.important {
  font-weight:bold;
}
.important:hover {
  background-color:gray;
}
#lead-paragraph {
  color:purple;
  font-weight:bold;
  font-size:3rem;
}
body {
  background:lightpink;
}
